// import constants from master
@import 'master';

// colors
$board-color: #F7E0B0;

.game-show-container {
}

.game-info-tile {
  // position
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 3%;
  height: 10%;
  width: 50%;

  // color
  background-color: $secondary-background;

  // shape
  border-radius: 10px;
}

.game-action-tile {
  // position
  text-align: center;
  margin: 0 auto;
  margin-top: 3%;

  // shape
  height: 9%;
  width: 50%;
  border-radius: 10px;

  // color
  background-color: $secondary-background;

  button {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
