// colors
$white-smoke: #FEFEFA;
$onyx: #353839;

// color assignments
$primary-background: $onyx;
$secondary-background: $white-smoke;
$title-background: $white-smoke;

// responsive design
$break-small: 600px;
$break-large: 700px;

html, body, #app, div {
  height: 100%;
  background-color: $primary-background;
}

div.challenges-container {
  // position
  text-align: center;
  height: 100%;

  // children
  h1 {
    // position
    height: 10%;

    // colors
    background-color: $title-background
  }
}

.challenges-box {
  // position
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;

  // responsive design
  @media screen and (max-width: $break-small) {
    flex-wrap: nowrap;
  }
  @media screen and (min-width: $break-large) {
    display: flex;
    flex-wrap: wrap;
  }
}

.challenge-tile {
  // position
  border-radius: 5px;
  padding: 2%;
  display: flex;

  // colors
  background-color: $secondary-background;

  // responsive design
  @media screen and (max-width: $break-small) {
    height: 15%;
    width: 100%;
    margin-bottom: 5%
  }
  @media screen and (min-width: $break-large) {
    height: 15%;
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  // children
  div {
    background-color: $secondary-background;
  }
  .playerEmail {
    width: 40%;
  }
  .playerRank {
    width: 20%;
  }
  .minRank {
    width: 20%;
  }
  .maxRank {
    width: 20%;
  }
  .field {
    text-align: center;
    // children
    .challenge-tile-title{
      height: 10%;
      font-size: 60%;
      margin-top: 5%;
    }
    .challenge-tile-value{
      height: 80%;
      margin-top: 5%;
      font-size: 100%;
    }
  }
}
