// colors
$white-smoke: #FEFEFA;
$onyx: #353839;

// color assignments
$primary-background: $onyx;
$secondary-background: $white-smoke;
$title-background: $white-smoke;

// responsive design
$break-small: 600px;
$break-large: 700px;

html, body, #app, div {
  height: 100%;
  background-color: $primary-background;
}
